@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

textarea {
    border: 0 none white;
    padding: 0;
    outline: none;
    background-color: #D0D0D0;
    color:black

}


html, body {
  height: 100%;
  width:100%;

  font-family: "Segoe UI", sans-serif;
  background:  #121212;
  color:black;



}

.versionNumber{
  text-align:right;
  position: absolute;
  right:5em;
}


h1 {
    margin: 0 0 0px 0;

    color: #e1e1e1;
}

p {

    margin-top: 10px;
    /* color: rgba(255, 255, 255, 0.4); */
    color: #e1e1e1;
    font-size: 14px;
}

h3 {

  color: #e1e1e1;



}

.pluginTableHeader{
  background:#373737;
}
.dataKeyFormat{

}

.dataKeyFormat p{
  font-size: 14px;
}

.navbar::before, .navbar::after {
  content: none;
}

input[type="text"]
{
    font-size:14px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

  .folderPaths {

    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:grey;
    color: white;
    size:14px;
    }

    .folderPaths2 {

      width: 40%;
      padding: 12px 20px;
      margin: 0% 0%;;
      display: inline-block;
      border: 1px solid black;
      border-radius: 4px;
      box-sizing: border-box;
      background-color:grey;
      color: #e1e1e1;
      size:14px;
      
      }

      .folderPaths3 {

        width: 20%;
        padding: 12px 20px;
        margin: 0% 0%;
        display: inline-block;
        border: 1px solid black;
        border-radius: 4px;
        box-sizing: border-box;
        background-color:grey;
        color: #e1e1e1;
        size:14px;
        
        }

        .folderPaths4 {

          width: 40%;
          padding: 12px 20px;
          margin: 0% 0%;
          display: inline-block;
          border: 1px solid black;
          border-radius: 4px;
          box-sizing: border-box;
          background-color:grey;
          color: #e1e1e1;
          size:14px;
          
          }


          .pluginCreatorInputs {

            width: 100%;
            padding: 0px 10px;
            display: inline-block;
            border: 1px solid black;
            border-radius: 4px;
            box-sizing: border-box;
            background-color:grey;
            color: white;
            size:14px;
            }

            .pluginSummary{

              padding: 0px 10px;

            border: 1px solid white;
            border-radius: 4px;


            }

            .pluginSummaryDetailsGrid {
              display: grid;
              grid-template-columns: 20% auto;
              padding:0em;
              margin:0 1em;
              width:90%;
            }

            .pluginSummaryDetailsGrid2 {
              display: grid;
              grid-template-columns: 10% 20% auto 10%;
              padding:0em;
              margin:0 1em;
              width:90%;
            }
            


        
  .tableSize {

    width: 50px;
   
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:grey;
    color: white;
    size:14px;
    }

    .resultColumnOptions {

      width: 100px;
      display: inline-block;
 
      }

        .filterByDate {

          width: 50px;
         
          display: inline-block;
          border: 1px solid black;
          border-radius: 4px;
          box-sizing: border-box;
          background-color:grey;
          color: #e1e1e1;
          size:14px;
          }




    .libraryTitle {

      width: 90%;
      margin: 0% 5%;
      display: inline-block;
      background: transparent;
      border: none;
      font-size: large;
      font-weight: bold;
      text-align: center; 
      border: 0;
      outline: 0;
      color: #e1e1e1;
      }
    

    .button{

      color:black
    }

    .hidden { display:none; }

    .intro{
      /*  */
      background: #121212;
      /* padding-top: 20px; */
      height: 1000px;
      width:100%;
    }
    .wheel{

      width: 100px;
      height: 100px;
      
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
        
      margin: auto;
    
    }

    text{

      color:black
    }

    .addFolderButton{
      background-color: white;
      color: black;
      padding: 1px 1px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: small;
      border-radius: 5px;
      border: 1px solid black;
      margin: 0px 3px
  }


    .generalWorkerButton{
        background-color: black;
        color: white;
        padding: 1px 1px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: small;
        border-radius: 5px;
        border: 1px solid black;
        margin: 0px 3px
    }
    .transcodeWorkerButton{
      background-color: #66ccff;
      color: white;
      padding: 1px 1px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: small;
      border-radius: 5px;
      border: 1px solid black;
      margin: 0px 3px
  }
  .healthcheckWorkerButton{
    background-color: #ffffff;
    /* Green */

    color: #4CAF50;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0px 3px
}

.cancelAllWorkersButton{
  background-color: #ffffff;
  /* Green */

  color: red;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: small;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0px 3px
}

.grid-itemright {

  text-align: right;
  margin: 0 1em;
  padding: 0 0 0 0;


}

.grid-item {

  margin: 0 1em;
  padding: 0 0 0 0;


}

.cancelWorkerButton{
  background-color: #ffffff;
  /* Green */

  color: red;
  padding: 1px 1px;
  text-decoration: none;
  font-size: small;
  border-radius: 5px;
  border: 0px solid black;
}



.toggleAllWorkerButton{
  background-color: #ffffff;
  /* Green */

  color: black;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: small;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0px 3px
}

.workerButtoncontainer{
  margin:0 0 0 0
}

.scanButton{
  background-color: white;
  color: black;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: small;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0px 3px
}

.allWorkersContainer{
 
  /* Green */

  color: black;
  padding: 0px 0px;

  border-radius: 5px;

  width: 100%;
  min-height:150px;



  top:0;
  bottom: 0;
  left: 0;
  right: 0;
    
  margin: auto;
  display: 'inline-block';

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.workerItemsGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.workerContainer{
  display: 'inline-block';

  border-radius: 5px;
}

.borderStyleGeneral{
  border: 2px solid black;
  border-radius: 5px;
  background-color:#373737;
  margin:1em;
  padding:1em;

}
.borderStyleTranscode{
  border: 2px solid #66ccff;
  border-radius: 5px;
  background-color:#373737;
  margin:1em;
  padding:1em;
  
}
.borderStyleHealthCheck{
  border: 2px solid #4CAF50;
  border-radius: 5px;
  background-color:#373737;
  margin:1em;
  padding:1em;
  
}



    .libraryContainer{

      border: 1px solid black;
      border-radius: 5px;
      background:#373737;
      padding:0em 0em 2em 0em;

    }

    .libraryContainer2{
      
      margin:0em 4em;

    }

    .libraryContainerItems{

     margin:0.5em 0.5em;
     background:#373737;

    
    }

    .searchContainer{

      border: 1px solid black;
      border-radius: 5px;
      background:#373737;

    }




    input[type=text], select {


    }

    
    input[type=checkbox], select {


    }

    .input-range__slider {
      appearance: none;
      background: black;
      border: 1px solid black;
      border-radius: 100%;
      cursor: pointer;
      display: block;
      height: 1rem;
      margin-left: -0.5rem;
      margin-top: -0.65rem;
      outline: none;
      position: absolute;
      top: 50%;
      transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
      width: 1rem; }
      .input-range__slider:active {
        transform: scale(1.3); }
      .input-range__slider:focus {
        box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
      .input-range--disabled .input-range__slider {
        background: #cccccc;
        border: 1px solid #cccccc;
        box-shadow: none;
        transform: none; }
    
    .input-range__slider-container {
      transition: left 0.3s ease-out; }
    
    .input-range__label {
      color: #aaaaaa;
      font-family: "Helvetica Neue", san-serif;
      font-size: 0.8rem;
      transform: translateZ(0);
      white-space: nowrap; }
    
    .input-range__label--min,
    .input-range__label--max {
      bottom: -1.4rem;
      position: absolute; }
    
    .input-range__label--min {
      left: 0; }
    
    .input-range__label--max {
      right: 0; }
    
    .input-range__label--value {
      position: absolute;
      top: -1.8rem; }
    
    .input-range__label-container {
      left: -50%;
      position: relative; }
      .input-range__label--max .input-range__label-container {
        left: 50%; }
    
    .input-range__track {
      background: #eeeeee;
      border-radius: 0.3rem;
      cursor: pointer;
      display: block;
      height: 0.3rem;
      position: relative;
      transition: left 0.3s ease-out, width 0.3s ease-out; }
      .input-range--disabled .input-range__track {
        background: #eeeeee; }
    
    .input-range__track--background {
      left: 0;
      margin-top: -0.15rem;
      position: absolute;
      right: 0;
      top: 50%; }
    
    .input-range__track--active {
      background: black; }
    
    .input-range {
      height: 1rem;
      position: relative;
      width: 100%; }
    
   

    .noBreak{
      display: 'inline-block';

    }


    .queuegrid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 10px;
    }
    
    .queuegrid-item {

      border: 2px solid black;
      border-radius: 5px;

      margin:1em;
    }

    .checkItem-container {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 10px;
    }
    
    .checkItem-item {

      margin:1em;

    }


    .tableItem {

     background: #e3e3e3;
     color:black;
     margin:2px;
    }


    li{ list-style-type: none; }

    .videoStatsContainer{

      border: 2px solid black;
      border-radius: 5px;
      background:#373737;
      margin:0 1em;
    }

    .tabWrapStat{
      border: 1px solid black;
      border-radius: 5px;
      margin:2em;
      background:#222222;
      padding:0em 0em 0em 0em;
    
    }
    
    .tabContainerStat{
      background:  #121212;
    }

    
    .holder{
      /* margin:2em; */
    
    }
    



    .statsContainer{

      border: 2px solid black;
      border-radius: 5px;
      background:#373737;
      margin:2em;
    }



    .piegrid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      width: 100%;
      height: 100%;
    }
    
    .piegrid-item-title {
      width: 100%;
      height:100%;
    }
    .piegrid-item{
      width: 100%;
      height: 300px;
    }

    .pieaudiogrid-container {
      display: grid;
      grid-template-columns: auto auto;
      width: 100%;
      height: 100%;
    }
    
    .pieaudiogrid-item-title {
      width: 100%;
      height:100%;
    }
    .pieaudiogrid-item{
      width: 100%;
      height: 300px;
    }


    .pieContainer{

      width: 100%;
    }

    
    .pieStatContainer{
      border: 2px solid black;
      border-radius: 5px;
      background:#373737;
      margin:2em;
    
      height:100%;

    }

    .invalidFolder{

      color:#bb86fc;
    }

    .deleteCodecButton{

      color:#bb86fc;
      border:none;
      background: transparent;
      border: none;


    }

    .scheduleContainer{

      border: 2px solid black;
      border-radius: 5px;

      overflow: auto;
      padding:2em;


    }

    .scheduleContainer-item{

      border: 0px solid black;
      border-radius: 1px;

      margin:1px;


    }


    .searchBar{

      width: 50%;
      padding: 12px 20px;
      margin: 0% 5%;
      display: inline-block;
      border: 1px solid black;
      border-radius: 4px;
      box-sizing: border-box;
      background-color:grey;
      color: white;
      size:14px;


    }

    .versionInfo{

      font-size: 14px;
      float:right;
      color:white;


    }

    .buttonClipPlaceholder{

      width:12em;


    }

    .dbStatusContainer table{

      border-collapse: collapse;
      font-size: 10px;
    }

    .dbStatusContainer tr{

      border: solid 1px black;
    }



    .dbStatusContainer td{

      border-right: solid 1px black; 
      border-left: solid 1px black;
    }

    .textSizeContainer{

      float:right;
    }


    
/* 
    table.dbStatusContainer {  }
tr.dbStatusContainer {  }
td.dbStatusContainer {
  border-right: solid 1px #f00; 
  border-left: solid 1px #f00;
} */



table.itemTable th {
  background-color: #373737;;
  color: black;
}

table.itemTable td {

  color: black;
  /* font-family: "Courier New" */
}

table.itemTable tr {
  /* display: table;
width: auto;
table-layout: fixed;  */
}


table.itemTable tr:nth-child(even) {
  /* background-color: white; */
}

table.itemTable tr:nth-child(odd) {
  /* background-color: white; */
}


table.itemTable tr:hover {
  /* background-color: rgb(202, 202, 202); */
}

table.itemTable {
  border-radius: 5px;
  width: 100%;
  table-layout: auto;
  white-space: normal;

}

table.pluginTable th {
  background-color: white;
  color: black;
  border: 1px solid grey;
}

table.pluginTable td {

  border: 1px solid grey;
  color: black;
  /* font-family: "Courier New" */
}

table.pluginTable tr {
  /* display: table;
width: auto;
table-layout: fixed;  */
}


table.pluginTable tr:nth-child(even) {
  background-color: white;
}

table.pluginTable tr:nth-child(odd) {
  background-color: white;
}


table.pluginTable tr:hover {
  background-color: rgb(202, 202, 202);
}

table.pluginTable {
  border-radius: 5px;
  width: 100%;
  table-layout: auto;
  white-space: normal;

}

.containerGeneral{

  background:  #121212;
  position:absolute;
  width: 100%;
  height:100%;
}

.memGraph{

  width: 100%;
  height: 50%;
}

.sliderWidth{
  width: 100%;
}

.frame{

  height: 500px;
  overflow-y: auto;
}




table.sliderTable th {
  background-color: white;
  color: black;
  border: 1px solid white;
}

table.sliderTable td {

  border: 1px solid white;
  color: black;

}


table.sliderTable {
  border-radius: 5px;
  width: 100%;
  table-layout: auto;
  white-space: normal;

}
table.searchResultsTable th {


  border: 1px solid white;
  color: black;

}

table.searchResultsTable td {


  border: 1px solid white;
  color: black;

}

table.pluginStackTable th {


  border: 1px solid white;
  color: black;

}

table.pluginStackTable td {


  border: 1px solid white;
  color: black;

}

.iconContainer {
  background-color: grey;
  display: inline-block;
  padding:0.5em;
  border: 1px solid grey;
  border-radius: 45px;

}
.iconContainer img:hover {
  opacity: .5;
}

.optionsDropdown{

  background-color: #383838;
}

.dropdownScan{
  color:green;
}


.dropdownDelete{
  color:red;
}


.sliderGrid-container {
  display: grid;
  grid-template-columns: auto auto 80% auto;
  padding:0em;
  margin:0 1em;
}

.sliderGrid-item {

  margin: 0 2em 0 0.5em 

}

.sliderGrid-item1 {

}

.sliderGrid-item2 {

  margin:0 0 0 1em


}

.sliderGrid-item3 {


}


.libraryGrid-container {
  display: grid;
  grid-template-columns: auto 80%;
  width:100%;
  height:100%;
}

.libraryGrid-itemLeft {

  width:100%;
  border-right: 1px solid black;

}


.libraryGrid-itemRight {

  width:100%;
  padding: 0 0 0 2em

}


.pluginTabGrid-container {
  display: grid;
  grid-template-columns: 10% auto;
  width:100%;
  height:100%;
}

.pluginTabGrid-itemLeft {

  width:100%;
  border-right: 1px solid black;

}


.pluginTabGrid-itemRight {

  width:100%;
  padding: 0 0 0 2em

}


.pluginCreatorSubItems{

  margin: 0 0 0 2em;
}



table.scheduleTable {

  width: 100%;
}

table.scheduleTable tr:hover {
  background-color: rgb(202, 202, 202);

  .scheduleButton{
    color: #373737;
  }
}

table.workerDetailTable td {

 
  color: black;
  vertical-align: text-top;

}

.introText{

  padding-right: 20%;
  padding-left: 20%;
  text-align: left;
}

.modalContainer{

  border: 2px solid black;
  border-radius: 5px;
  background:#373737;
  width:100%;
  height:100%;
}


.modalText{

  padding-right: 10%;
  padding-left: 10%;
  text-align: left;
}

.buttonTextSize{
  color: #e1e1e1;
  font-size: 14px;
}

.scheduleButton{
  color: #e1e1e1;
}

.selectedNav{

  color:#bb86fc;
}

.selectedNav:hover {
  font-weight: bold;
}

.unselectedNav:hover{
  font-weight: bold;
}


table.streamsTable th {


  border: 1px solid white;
  color: black;

}

table.streamsTable td {

  border: 1px solid white;
  color: black;

}

table.streamsTable tr {

  width:200px

}









/* Tabs */

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid black;
  margin: 0 0 0px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  background:  #222222;
  border-bottom: 1px solid black;
}

.react-tabs__tab--selected {
  background: #373737;
  border-color: #04dac5;
  color: black;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #373737;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
 
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #bb86fc;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.tabWrap{
  border: 1px solid black;
  border-radius: 5px;
  margin:2em;
  background:#222222;
  padding:0em 0em 2em 0em;

}

.tabContainer{
  background:#373737;
}


.optionsDiv{
  margin:0 2em;
}










